# ----------------------
# Python / environments
# ----------------------
.venv/
venv/
__pycache__/
*.pyc

# ----------------------
# Jupyter
# ----------------------
.ipynb_checkpoints/

# ----------------------
# IDE
# ----------------------
.idea/

# ----------------------
# OS
# ----------------------
.DS_Store

# ----------------------
# Large data (DO NOT version)
# ----------------------
data/raw/
data/processed/genotypes*.csv
data/processed/*.npy

# ----------------------
# Outputs (keep figures, ignore models if large)
# ----------------------
outputs/models/
outputs/tmp/

# ----------------------
# Logs
# ----------------------
*.log
